In [4]:
import pandas as pd
from tabulate import tabulate  # För snyggare utskrift

# Filnamn och ämnen
file_path = "riket2023_åk9_np.xlsx"
subjects = ["Engelska", "Matematik", "Svenska", "Svenska som andraspråk"]

# Läs in data, hoppa över de första 8 raderna
dfs = {subject: pd.read_excel(file_path, sheet_name=subject, skiprows=8) for subject in subjects}

# Justera kolumnnamn baserat på data
for subject, df in dfs.items():
    df.columns = ["Plats", "Huvudman", "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)",
                  "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)", "Totalt (poäng)", "Flickor (poäng)", "Pojkar (poäng)"]

# Tabell skrivs ut för varje ämne
for subject, df in dfs.items():
    print(f"\n{subject} Data:")
    print(tabulate(df, headers="keys", tablefmt="grid", showindex=False))

Engelska Data:
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Plats   | Huvudman   |   Totalt (A-F) |   Flickor (A-F) |   Pojkar (A-F) |   Totalt (A-E) |   Flickor (A-E) |   Pojkar (A-E) |   Totalt (poäng) |   Flickor (poäng) |   Pojkar (poäng) |
+=========+============+================+=================+================+================+=================+================+==================+===================+==================+
| Riket   | Samtliga   |         106941 |           51864 |          55077 |           97   |            97.1 |           97   |             15.7 |              15.8 |             15.7 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Kommunal   |          84310 |           40675 |          43635 |           96.6 |            96.6 |           96.6 |             15.4 |              15.5 |             15.4 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Enskild    |          22582 |           11165 |          11417 |           98.7 |            98.8 |           98.7 |             16.9 |              17   |             16.8 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Skolverket |             49 |              24 |             25 |          100   |           100   |          100   |             18.5 |              18.9 |             18.2 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+

Matematik Data:
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Plats   | Huvudman   |   Totalt (A-F) |   Flickor (A-F) |   Pojkar (A-F) | Totalt (A-E)   | Flickor (A-E)   | Pojkar (A-E)   |   Totalt (poäng) |   Flickor (poäng) |   Pojkar (poäng) |
+=========+============+================+=================+================+================+=================+================+==================+===================+==================+
| Riket   | Samtliga   |         106766 |           51548 |          55218 | 89.1           | 88.7            | 89.5           |             11.9 |              11.8 |             12   |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Kommunal   |          84163 |           40386 |          43777 | 88.1           | 87.7            | 88.5           |             11.6 |              11.5 |             11.7 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Enskild    |          22553 |           11137 |          11416 | 92.9           | 92.2            | 93.5           |             13   |              12.8 |             13.1 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Skolverket |             50 |              25 |             25 | ~100           | ~100            | ~100           |             14.1 |              13.5 |             14.7 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+

Svenska Data:
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Plats   | Huvudman   |   Totalt (A-F) |   Flickor (A-F) |   Pojkar (A-F) |   Totalt (A-E) |   Flickor (A-E) |   Pojkar (A-E) |   Totalt (poäng) |   Flickor (poäng) |   Pojkar (poäng) |
+=========+============+================+=================+================+================+=================+================+==================+===================+==================+
| Riket   | Samtliga   |          93225 |           45800 |          47425 |           96.1 |            97.9 |           94.4 |             13.6 |              14.5 |             12.7 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Kommunal   |          72771 |           35484 |          37287 |           95.7 |            97.6 |           93.8 |             13.3 |              14.3 |             12.4 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Enskild    |          20414 |           10297 |          10117 |           97.6 |            98.7 |           96.6 |             14.4 |              15.2 |             13.5 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Skolverket |             40 |              19 |             21 |          100   |           100   |          100   |             15   |              15.9 |             14.2 |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+

Svenska som andraspråk Data:
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Plats   | Huvudman   | Totalt (A-F)   | Flickor (A-F)   | Pojkar (A-F)   | Totalt (A-E)   | Flickor (A-E)   | Pojkar (A-E)   | Totalt (poäng)   | Flickor (poäng)   | Pojkar (poäng)   |
+=========+============+================+=================+================+================+=================+================+==================+===================+==================+
| Riket   | Samtliga   | 14092          | 6447            | 7645           | 77.7           | 81.6            | 74.3           | 9.4              | 10.2              | 8.7              |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Kommunal   | 11963          | 5495            | 6468           | 75.9           | 80              | 72.4           | 9                | 9.9               | 8.3              |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Enskild    | 2122           | 949             | 1173           | 87.7           | 90.9            | 85.2           | 11.1             | 12                | 10.4             |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+
| Riket   | Skolverket | ..             | ..              | ..             | ..             | ..              | ..             | ..               | ..                | ..               |
+---------+------------+----------------+-----------------+----------------+----------------+-----------------+----------------+------------------+-------------------+------------------+

In [6]:
from IPython.display import display
import pandas as pd
from tabulate import tabulate  # För snyggare utskrift

# Filnamn och ämnen
file_path = "riket2023_åk9_np.xlsx"
subjects = ["Engelska", "Matematik", "Svenska", "Svenska som andraspråk"]

# Läs in data, hoppa över de första 8 raderna
dfs = {subject: pd.read_excel(file_path, sheet_name=subject, skiprows=8) for subject in subjects}

# Justera kolumnnamn baserat på data
for subject, df in dfs.items():
    df.columns = ["Plats", "Huvudman", "Totalt (A-F)", "Flickor (A-F)", "Pojkar (A-F)",
                  "Totalt (A-E)", "Flickor (A-E)", "Pojkar (A-E)", "Totalt (poäng)", "Flickor (poäng)", "Pojkar (poäng)"]

for subject, df in dfs.items():
    styled_df = df.style.set_table_styles([
        {'selector': 'th', 'props': [('font-weight', 'bold'), ('font-size', '14px'), ('border', '1px solid white'), ('background-color', '#222'), ('color', 'white')]},
        {'selector': 'td', 'props': [('font-size', '12px'), ('border', '1px solid white'), ('background-color', '#111'), ('color', 'white')]},
        {'selector': 'tr:nth-child(even)', 'props': [('background-color', '#222')]},
        {'selector': 'caption', 'props': [('caption-side', 'top'), ('font-size', '16px'), ('color', 'white'), ('font-weight', 'bold')]}
    ]).set_caption(f"{subject} - Nationella provresultat")

    display(styled_df)